<div>
  <h2 id="page-heading" data-cy="NoteAccessHeading">
    <span jhiTranslate="noticeMeApp.noteAccess.home.title">NoteAccesses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="noticeMeApp.noteAccess.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-note-access"
        [routerLink]="['/note-access/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="noticeMeApp.noteAccess.home.createLabel">Genera un nuovo Note Access</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (noteAccesses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="noticeMeApp.noteAccess.home.notFound">No Note Accesses found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="noticeMeApp.noteAccess.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note.id">
              <div class="d-flex">
                <span jhiTranslate="noticeMeApp.noteAccess.note">Note</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="noticeMeApp.noteAccess.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (noteAccess of noteAccesses(); track trackId(noteAccess)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/note-access', noteAccess.id, 'view']">{{ noteAccess.id }}</a>
              </td>
              <td [jhiTranslate]="'noticeMeApp.AccessRole.' + (noteAccess.role ?? 'null')">
                {{ { null: '', VIEWER: 'VIEWER', EDITOR: 'EDITOR' }[noteAccess.role ?? 'null'] }}
              </td>
              <td>
                @if (noteAccess.note) {
                  <div>
                    <a [routerLink]="['/note', noteAccess.note.id, 'view']">{{ noteAccess.note.id }}</a>
                  </div>
                }
              </td>
              <td>
                {{ noteAccess.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/note-access', noteAccess.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizza</span>
                  </a>

                  <a [routerLink]="['/note-access', noteAccess.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(noteAccess)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
