<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (note(); as noteRef) {
      <div>
        <h2 data-cy="noteDetailsHeading"><span jhiTranslate="noticeMeApp.note.detail.title">Note</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ noteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.note.title">Title</span></dt>
          <dd>
            <span>{{ noteRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.note.content">Content</span></dt>
          <dd>
            <span>{{ noteRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.note.alarmDate">Alarm Date</span></dt>
          <dd>
            <span>{{ noteRef.alarmDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.note.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'noticeMeApp.NoteStatus.' + (noteRef.status ?? 'null')">{{
              { null: '', NORMAL: 'NORMAL', PINNED: 'PINNED', ARCHIVED: 'ARCHIVED', DELETED: 'DELETED' }[noteRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.note.owner">Owner</span></dt>
          <dd>
            <span>{{ noteRef.owner?.id }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.note.tag">Tag</span></dt>
          <dd>
            @for (tag of noteRef.tags; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/tag', tag.id, 'view']">{{ tag?.tagName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/note', noteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
