<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tag(); as tagRef) {
      <div>
        <h2 data-cy="tagDetailsHeading"><span jhiTranslate="noticeMeApp.tag.detail.title">Tag</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ tagRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.tag.tagName">Tag Name</span></dt>
          <dd>
            <span>{{ tagRef.tagName }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.tag.color">Color</span></dt>
          <dd>
            <span>{{ tagRef.color }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.tag.owner">Owner</span></dt>
          <dd>
            <span>{{ tagRef.owner?.id }}</span>
          </dd>
          <dt><span jhiTranslate="noticeMeApp.tag.notes">Notes</span></dt>
          <dd>
            @if (tagRef.notes?.length) {
              @for (note of tagRef.notes; track note.id) {
                <div class="mb-2">
                  <button type="button" class="btn btn-link p-0" (click)="openRelatedNote(note)">
                    {{ note.title || 'Note #' + note.id }}
                  </button>
                  <small class="text-muted ms-2">{{ note.status }}</small>
                </div>
              }
            } @else {
              <span class="text-muted">No notes</span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Indietro</span>
        </button>

        <button type="button" [routerLink]="['/tag', tagRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Modifica</span>
        </button>
      </div>
    }
  </div>
</div>
